.idea/
**/*.iml
/.DS_Store
/src/
*.jar
/dropDDL_ddlGeneration.jdbc
/createDDL_ddlGeneration.jdbc
logs/
Assets/Thumbs.db

/captcha/src/main/webapp/
/captcha/target/
/captcha/logs/

/sabi-boundary/target/

/sabi-database/src/main/java/
/sabi-database/src/test/
/sabi-database/target

/sabi-server/target
/sabi-server/logs
/sabi-server/src/main/webapp/WEB-INF/classes
/sabi-server/.DS_Store
/sabi-server/createDDL_ddlGeneration.jdbc
/sabi-server/src/.DS_Store
/sabi-server/src/main/.DS_Store
/sabi-server/src/main/webapp/.DS_Store
/sabi-server/src/main/webapp/META-INF/
/sabi-server/src/main/webapp/WEB-INF/

/sabi-webclient/target
/sabi-webclient/logs

/devops/docker/sabi-backend/assets/opt/*.jar
/devops/docker/captcha/assets/opt/*.jar
/devops/GenericPiMetricsEndpoint/target/
/devops/sabi_docker_sdk/grafanaData/

