## Connection parameter to the captcha service
captcha:
  backend:
    url: http://localhost:8081/captcha/api


# JSF/Primefaces Config
# possible props see: https://docs.joinfaces.org/current/reference/#properties
# primefaces 10 possible (free) themes are saga, arya, vela
joinfaces:
  jsf:
    project-stage: development
  primefaces:
    theme: saga

# Health check for cloud deployment
# https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.html#production-ready-endpoints-enabling-endpoints
management:
  endpoint:
    health:
      enabled: true
      show-details: always
    info:
      enabled: true
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: metrics,health,info,prometheus
name: sabi-webclient

# sabi backend can be found (here without /api on purpose)
sabi:
  backend:
    url: http://localhost:8080/sabi
server:
  port: 8088
  session:
    timeout: 600
  error:
    whitelabel:
      enabled: false
  servlet:
    context-path: /
servlet:
  container:
    maxThreads: 513
spring:
  # INTERNATIONALIZATION
  messages:
    basename: i18n/messages
    encoding: UTF-8
  servlet:
    encoding:
      # Charset of HTTP requests and responses. Added to the "Content-Type" header if not set explicitly.
      charset: UTF-8
      # Enable http encoding support.
      enabled: true
      # Force the encoding to the configured charset on HTTP requests and responses.
      force: true
