[Unit]
Description=Captcha Light App
Documentation=https://github.com/StefanSchubert/sabi/wiki
After=network-online.target

[Service]
User=captcha
Restart=on-failure
WorkingDirectory=/var/captcha
ExecStart=/usr/local/share/sdkman/candidates/java/current/bin/java \
    -Djava.io.tmpdir=/var/captcha/tmp \
    -XX:-UsePerfData \
    -Xmx81m \
    -Xms64m \
    -XX:MaxMetaspaceSize=128m \
    -jar /var/captcha/captcha-service.jar

[Install]
WantedBy=multi-user.target
