- hosts: sabiMonitoring
  vars_files:
    - ./group_vars/sabiBackend.yml
  tasks:
    - name: Create NodeExporter User
      user:
        name: nodeexporter
        create_home: false
        shell: /usr/sbin/nologin
        comment: "nodeexporter Service Account, no login possible."
        expires: -1
    - name: Create nodeexporter directory
      file:
        path: /var/nodeexporter
        state: directory
        owner: nodeexporter
        group: nodeexporter
    - name: Fetch nodeexporter version 1.6.1
      # 64 Bit Version
      command: wget https://github.com/prometheus/node_exporter/releases/download/v1.6.1/node_exporter-1.6.1.linux-armv64.tar.gz
      # 32 Bit Version
      # command: wget https://github.com/prometheus/node_exporter/releases/download/v1.6.1/node_exporter-1.6.1.linux-armv7.tar.gz
      args:
        chdir: /var/nodeexporter
    - name: Unpack nodeexporter version
      # 64 Bit Version
      command: tar -xzf node_exporter-1.6.1.linux-arm64.tar.gz --strip-components=1
      # 32 Bit Version
      # command: tar -xzf node_exporter-1.6.1.linux-armv7.tar.gz --strip-components=1
      args:
        chdir: /var/nodeexporter
    - name: Cleanup old files
      # 64 Bit Version
      file: path=/var/nodeexporter/node_exporter-1.6.1.linux-arm64.tar.gz state=absent
      # 32 Bit Version
      # file: path=/var/nodeexporter/node_exporter-1.6.1.linux-armv7.tar.gz state=absent
    - name: fix ownership of all files in /var/nodeexporter
      command: chown -R nodeexporter:nodeexporter nodeexporter
      args:
        chdir: /var
    - name: Copy systemd service file to server
      copy:
        src: nodeexporter.service
        dest: /etc/systemd/system/nodeexporter.service
        owner: root
        group: root
    - name: enforce daemon config reload
      command: systemctl daemon-reload
    - name: Enable service nodeexporter and ensure it is not masked
      systemd:
        name: nodeexporter
        enabled: yes
        masked: no
      async: 120
    - name: Start nodeexporter service
      systemd:
        name: nodeexporter
        state: restarted
    - name: Create prometheus User
      user:
        name: prometheus
        create_home: false
        shell: /usr/sbin/nologin
        comment: "prometheus Service Account, no login possible."
        expires: -1
    - name: Create prometheus bin dir
      file:
        path: /var/prometheus
        state: directory
        owner: prometheus
        group: prometheus
    - name: Create prometheus data dir
      file:
        path: /var/prometheus_data
        state: directory
        owner: prometheus
        group: prometheus
    - name: Create prometheus config dir
      file:
        path: /var/prometheus_config
        state: directory
        owner: prometheus
        group: prometheus
    - name: Fetch prometheus version 2.46.0
      command: wget https://github.com/prometheus/prometheus/releases/download/v2.46.0/prometheus-2.46.0.linux-arm64.tar.gz
      args:
        chdir: /var/prometheus
    - name: Unpack prometheus version
      command: tar -xzf prometheus-2.46.0.linux-arm64.tar.gz --strip-components=1
      args:
        chdir: /var/prometheus
    - name: Cleanup old files
      file: path=/var/prometheus/prometheus-2.46.0.linux-arm64.tar.gz state=absent
    - name: Copy last secured configuration
      copy:
        src: /Users/schubert/Documents/privat/SABI_Config_Safe/prometheus/prometheus.yml
        dest: /var/prometheus_config
        owner: prometheus
        group: prometheus
        mode: '0640'
    - name: fix ownerchip of all files in /var/prometheus
      command: chown -R prometheus:prometheus prometheus
      args:
        chdir: /var
    - name: Copy systemd service file to server
      copy:
        src: prometheus.service
        dest: /etc/systemd/system/prometheus.service
        owner: root
        group: root
    - name: enforce daemon config reload
      command: systemctl daemon-reload
    - name: Enable service prometheus and ensure it is not masked
      systemd:
        name: prometheus
        enabled: yes
        masked: no
      async: 120
    - name: Start prometheus service
      systemd:
        name: prometheus
        state: restarted
    - name: Create grafana User
      user:
        name: grafana
        create_home: false
        shell: /usr/sbin/nologin
        comment: "grafana Service Account, no login possible."
        expires: -1
    - name: Create grafana directory
      file:
        path: /var/grafana
        state: directory
        owner: grafana
        group: grafana
    - name: Fetch grafana version 10.0.3
      command: wget https://dl.grafana.com/oss/release/grafana-10.0.3.linux-arm64.tar.gz
      args:
        chdir: /var/grafana
    - name: Unpack grafana version
      command: tar -xzf grafana-10.0.3.linux-arm64.tar.gz --strip-components=1
      args:
        chdir: /var/grafana
    - name: Cleanup old files
      file: path=/var/grafana/grafana-10.0.3.linux-arm64.tar.gz state=absent
    - name: Copy last secured configuration
      copy:
        src: /Users/schubert/Documents/privat/SABI_Config_Safe/grafana/custom.ini
        dest: /var/grafana/conf
        owner: grafana
        group: grafana
        mode: '0640'
    - name: Copy last database backup
      copy:
        src: /Users/schubert/Documents/privat/SABI_Config_Safe/grafana/grafana.db
        dest: /var/grafana/data
        owner: grafana
        group: grafana
        mode: '0640'
    - name: fix ownerchip of all files in /var/grafana
      command: chown -R grafana:grafana grafana
      args:
        chdir: /var
    - name: Copy systemd service file to server
      copy:
        src: grafana.service
        dest: /etc/systemd/system/grafana.service
        owner: root
        group: root
    - name: enforce daemon config reload
      command: systemctl daemon-reload
    - name: Enable service grafana and ensure it is not masked
      systemd:
        name: grafana
        enabled: yes
        masked: no
      async: 120
    - name: Start grafana service
      systemd:
        name: grafana
        state: restarted
