[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Restart=on-failure

#Change this line if Prometheus is somewhere different
ExecStart=/var/prometheus/prometheus \
  --config.file=/var/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/prometheus/data \
  --storage.tsdb.retention.time=90d \
  --storage.tsdb.retention.size=8GB

[Install]
WantedBy=multi-user.target
