[Unit]
Description=Sabi Service App
Documentation=https://github.com/StefanSchubert/sabi/wiki
After=network-online.target

[Service]
User=sabi
Restart=on-failure
WorkingDirectory=/var/sabi
# OIDC Client-ID injected via EnvironmentFile (written by Ansible from vault variable)
EnvironmentFile=-/etc/sabi/sabi-backend.env
ExecStart=/usr/local/share/sdkman/candidates/java/current/bin/java \
    -Djava.io.tmpdir=/var/sabi/tmp \
    -XX:-UsePerfData \
    -Xmx96m \
    -Xms64m \
    -XX:MaxMetaspaceSize=128m \
    -jar /var/sabi/sabi-service.jar

[Install]
WantedBy=multi-user.target
