[Unit]
Description=Sabi Webapplication
Documentation=https://github.com/StefanSchubert/sabi/wiki
After=network-online.target

[Service]
User=sabi
Restart=on-failure
WorkingDirectory=/var/sabi
# OIDC secrets are injected via EnvironmentFile (written by Ansible from vault variables)
EnvironmentFile=-/etc/sabi/sabi-frontend.env
ExecStart=/home/pi/.sdkman/candidates/java/current/bin/java \
    -Djava.io.tmpdir=/var/sabi/tmp \
    -XX:-UsePerfData \
    -Xmx128m \
    -Xms64m \
    -XX:MaxMetaspaceSize=128m \
    -jar /var/sabi/sabi-webclient.jar

[Install]
WantedBy=multi-user.target
