version: '3.7'
# Before running docker compose make sure that you have build the captcha and sabi project, otherwise
# the container won't have access to the current jars.
services:
  captcha:
    # available by http://localhost:8081/captcha/swagger-ui.html
    container_name: captcha-as
    build: ./captcha
    networks:
      - sabinet
    ports:
      - "8081:8081"
  sabi-backend:
    # available by http://localhost:8080/sabi/swagger-ui.html
    container_name: sabi-as
    build: ./sabi-backend
    environment:
      - TZ=Europe/Berlin
    networks:
      - sabinet
    ports:
      - "8080:8080"
      - "8880:8880"
    depends_on:
      - db
  flyway:
    image: flyway/flyway:7.7
    command: -url=jdbc:mariadb://db:3306/sabi -defaultSchema=sabi -schemas=sabi -user=sabiapp -password=sabi123 -connectRetries=60 clean baseline migrate
    volumes:
      - ../../sabi-database/src/main/resources:/flyway/sql
    networks:
      - sabinet
    depends_on:
      - db
  db:
    image: mariadb:10.5.9
    environment:
      - MYSQL_ROOT_PASSWORD=SuperDooper
      - MYSQL_DATABASE=sabi
      - MYSQL_USER=sabiapp
      - MYSQL_PASSWORD=sabi123
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - sabinet
    ports:
      - "3306:3306"
  fakeSMTP:
    image: gessnerfl/fake-smtp-server:1.7.1
    environment:
      - server.port=5080
      - fakesmtp.port=2525
      - fakesmtp.authentication.username=sabi@bluewhale.de
      - fakesmtp.authentication.password=YouWillNeverKnow
    networks:
      - sabinet
    ports:
      - "2525:2525"
      - "5080:5080"
networks:
  sabinet:
    driver: bridge

# TODO: application.properties files contains "localhost" this does not matches the hosts,
# db, fakeSMTP etc.. so the application.properties need to be externalized as in production
# through the assets.