# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:

    runs-on: macOS-12

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        java-version: '19'
        distribution: 'corretto'    
    # maven repo cache save and restore
    - uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-        
    - name: CAPTCHA App
      run: cd captcha; mvn -B compile --file pom.xml
    - name: SABI-Boundary install locally for dependend builds
      run: cd sabi-boundary; mvn -B install --file pom.xml
    - name: SABI-Server App
      run: cd sabi-server; mvn -B compile --file pom.xml
    - name: SABI-Webclient App
      run: cd sabi-server; mvn -B compile --file pom.xml
    - name: GenericPiMetricsEndpoint Helper to measure PIs temperatures
      run: cd devops/GenericPiMetricsEndpoint; mvn -B compile --file pom.xml
  test:

    runs-on: macOS-12

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
      # maven repo cache save and restore
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-           
      - name: CAPTCHA App
        run: cd captcha; mvn -B package --file pom.xml
      - name: SABI-Boundary install locally for dependend builds
        run: cd sabi-boundary; mvn -B install --file pom.xml
      - name: SABI-Server APP
        run: cd sabi-server; mvn -B package --file pom.xml
